<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd"
	default-lazy-init="false">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:important.properties</value>
				<value>classpath:jdbc.properties</value>
				<value>classpath:config.properties</value>
				<value>classpath:smartcloud-production.properties</value>
				<value>classpath:kafka-consumer.properties</value>
				<value>classpath:mongodb.properties</value>
				<value>classpath:rocketmq.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="dynamicDataSource" class="com.gome.upm.service.util.DynamicDataSource" >  
	    <!-- 通过key-value的形式来关联数据源 -->  
	    <property name="targetDataSources">  
	        <map>  
	            <entry value-ref="dataSourceOne" key="dataSourceOne"></entry>  
	            <entry value-ref="dataSourceTwo" key="dataSourceTwo"></entry>
	            <entry value-ref="dataSourceThree" key="dataSourceThree"></entry> 
	            <entry value-ref="dataSourceFour" key="dataSourceFour"></entry> 
	            <entry value-ref="dataSourceFive" key="dataSourceFive"></entry> 
	            <entry value-ref="dataSourceSix" key="dataSourceSix"></entry> 
	            <entry value-ref="dataSourceSeven" key="dataSourceSeven"></entry> 
	            <entry value-ref="dataSourceEight" key="dataSourceEight"></entry> 
	        </map>  
	    </property>  
	    <property name="defaultTargetDataSource" ref="dataSourceOne" />  
	</bean> 
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dynamicDataSource" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dynamicDataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
 		<property name="mapperLocations">
 			<value>classpath:mapper/*.xml</value>
 		</property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.gome.upm.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<!-- test quartz2.x -->
	<!-- <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		 <property name="configLocation" value="classpath:quartz.properties" /> 
	</bean> -->
	
	<!-- 使用annotation定义事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

	<context:component-scan base-package="com.gome.upm.dao, com.gome.upm.domain, com.gome.upm.service"/>
	<context:annotation-config />
	
	
    
	<import resource="classpath:spring/spring-config-datasource-dbcp.xml" />
	<import resource="classpath:spring/spring-config-redis.xml" />
	<import resource="classpath:spring/spring-config-mongodb.xml" />
	<!-- <import resource="classpath:spring/servlet-context-interceptor.xml" />-->
	 
	<import resource="classpath:spring/servlet-context-interceptor.xml" />
    <import resource="classpath:spring/spring-rpc-consumer.xml" />
    
    <!--kafka consumer 配置信息-->
    <import resource="classpath:spring/spring-kafka-consumer.xml"/>
    
    <!-- MQ发送消息-->
	<import resource="classpath:spring/spring-rocketmq.xml" />
	
	<!-- 去掉这个定时任务
	<import resource="classpath:spring/spring-quartzSystem.xml" /> 
	 -->
    
 	<!-- 定时任务配置 -->
 	<import resource="classpath:spring/spring-quartz.xml"/> 
	<import resource="classpath:spring/spring-network-quartz.xml"/>
	<import resource="classpath:spring/spring-quartzServerAnalysis.xml" /> 
	<!-- <import resource="classpath:spring/spring-quartzServer.xml" />  -->
	
</beans>
