<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UMP</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link href="${rc.contextPath}/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.3.0 -->
    <link href="${rc.contextPath}/libs/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->

    <!-- Theme style -->
    <link href="${rc.contextPath}/libs/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="${rc.contextPath}/libs/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="${rc.contextPath}/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="${rc.contextPath}/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="${rc.contextPath}/css/common-top.css" type="text/css" />
</head>
<body class="sidebar-mini skin-black-light">
<div class="wrapper">

    <!-- header start-->
    #parse("common/header.vm")
    <!-- header end-->

    <!-- Left side column. contains the logo and sidebar -->
    #parse("common/leftMenu.vm")
    <!-- Left side end -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <!--
            <ol class="breadcrumb">
                <li><a href="#">统一监控平台</a></li>
                <li class=""><a href="${rc.contextPath}/usr/applications/list">监控应用列表</a></li>
                <li class="active">创建监控应用</li>
            </ol>
            -->
            <a href="javascript:void(0);">统一监控平台 / 监控应用列表/ 创建监控应用</a>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box" style="margin-top:20px;">
                <div class="list_table" style="padding: 0 10px;">
                	<h2 class="list_table_title" style="color:#9C8ADE;">基本参数</h2>
                	<hr style="height:1px;border:none;border-top:1px dashed #9C8ADE;" />
                    <table id="example1" class="table table-striped table_style">
                        <tbody>
                            <tr>
                                <td class="title_td"><strong class="null_red">*</strong>应用编码</td>
                                <td>
                                <input style="width:50%;" type="text" class="form-control" id="appCode"  placeholder="全局唯一的domain"/>
                                <span style="display:none;color:#ff0000;" id="appCode_error_span">提示：请输入应用编码</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="title_td">应用描述</td>
                                <td class="build_forminput"><input style="width:50%;" type="text" class="form-control" id="appDesc" placeholder="描述应用的主要信息"/></td>
                            </tr>
                            <tr>
                            	<td class="title_td">业务线</td>
                            	<td class="build_forminput">
                            		<select id="ab" style="width:50%;height: 28px;margin-top: 4px;border-radius:3px;">
                            			<option value="">选择所属的业务线</option>
                             			#foreach($line in $!page)
                           					<option value="$!line.bcode">$!line.bname</option>
                           				#end
                            		</select>
                            		<span style="display:none;color:#ff0000;" id="businessLine_error_span">提示：请选择业务线</span>
                            	</td>
                        	</tr>
                        	</tbody>
                        	</table>
                        	<h2 class="list_table_title" style="color:#9C8ADE;">扩展属性</h2>
                        	<hr style="height:1px;border:none;border-top:1px dashed #9C8ADE;" />
                        	<table id="example2" class="table table-striped table_style">
                        	<tbody>
                         	<tr>
                            	<td class="build_forminput">
                            		<div style="width:20%;">
                            			<div style="float: left;">
                            				<input type="checkbox" id="isGlobalConfig" style="dispaly:block;"/> 使用全局配置
											<span id="createGlobalConfig" style="font-size: 13px;font-family:'宋体';font-family:'微软雅黑';display:none;">Warning! You don't have a global config, you may<a href="javascript:void(0);" onclick="add();" style="color:blue;"> create global config </a>.</span>
                            			</div>
                            		    <div id="isUpdateGlobalConfigDiv" style="float: right; display:none;">
                            				<input type="checkbox" id="isUpdateGlobalConfig" style="dispaly:block;"/> Update the global config
                            			</div>
                            		</div>
                            	</td>
                        	</tr>
                        	<tr>
                        	    <td class="build_forminput">
									<input style="width:50%;" type="text" class="form-control" id="period" placeholder="告警周期" disabled="disabled"/>
									<span style="color:#ff0000; display:none;" id="period_error_span">提示：邮件方式报警，报警周期单位为分钟,必填项</span>
                            	</td>
                        	</tr>
                        	<tr>
                        	    <td class="build_forminput">
                                	<span>发送邮件</span>
                            	</td>
                        	</tr>
                        	<tr>
                        	    <td class="build_forminput">
									<input style="width:50%;" type="text" class="form-control" id="mailTo" placeholder="收件人地址" disabled="disabled"/>
									<span style="display:none;color:#ff0000;" id="mailTo_error_span">提示：请填写收件人</span>
                            	</td>
                        	</tr>
                        	<tr>
                        	    <td class="build_forminput">
									<input style="width:50%;" type="text" class="form-control" id="mailCc" placeholder="抄送人地址" disabled="disabled"/>
									<span style="display:none;color:#ff0000;" id="mailCc_error_span">提示：请填写抄送人</span>
                            	</td>
                        	</tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix applicationEditHeader">
                    <ul class="paging">
                        <li>
                        <a class="newbtn" id="btn-save" href="javascript:void(0)">保存</a>
                        </li>
                        <li><a class="newbtn" href="${rc.contextPath}/usr/applications/list">取消</a></li>
                    </ul>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    <div id="newDiv" class="list_table" title="create global config">
        <table id="example1" class="table table-bordered">
            <tbody>
                <tr>
    	            <td class="build_title">告警周期</td>
                    <td class="build_forminput">
                    <input type="text" class="form-control" id="period_add" placeholder="单位分钟"/>
                    <span class="info_span" id="period_add_error_span" style="display:none;">提示：请输入告警周期</span>
                    </td>
                </tr>
                <tr>
    	            <td class="build_title">告警方式</td>
                    <td class="build_forminput">
                    	发送邮件
                    </td>
                </tr>
                <tr>
    	            <td class="build_title">收件人</td>
                    <td class="build_forminput">
                    <input type="text" class="form-control" id="mailTo_add" placeholder="邮件收件人地址"/>
                    <span class="info_span" id="mailTo_add_error_span" style="display:none;">提示：请输入收件人地址</span>
                    </td>
                </tr>
                <tr>
    	            <td class="build_title">抄送人</td>
                    <td class="build_forminput">
                    <input type="text" class="form-control" id="mailCc_input" placeholder="邮件抄送人地址"/>
                    <span class="info_span" id="mailCc_add_error_span" style="display:none;">提示：请输入抄送人地址</span>
                    </td>
                </tr>
            </tbody>
         </table>
    </div>
    <!-- footer start -->
      #parse("common/footer.vm")
    <!-- footer end -->


    <!-- Control Sidebar -->
      #parse("common/controlSidebar.vm")
    <!-- Control Sidebar end-->

</div><!-- ./wrapper -->

<!-- jQuery 2.1.3 -->
<script src="${rc.contextPath}/js/jQuery/jQuery-2.1.3.min.js"></script>
<script src="${rc.contextPath}/js/appMonitor/jquery-easyui/jquery.min.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/appMonitor/jquery-easyui/jquery.easyui.min.js" type="text/javascript"></script>
<link href="${rc.contextPath}/js/appMonitor/jquery-easyui/themes/easyui.css" rel="stylesheet" type="text/css" />
<link href="${rc.contextPath}/js/appMonitor/jquery-easyui/themes/icon.css" rel="stylesheet" type="text/css" />
<!-- Bootstrap 3.3.2 JS -->
<script src="${rc.contextPath}/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="${rc.contextPath}/libs/js/app.min.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/left_menu.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/app/allApp.js" type="text/javascript"></script>
<script>
	$(function(){
		$("#isGlobalConfig").click(function(){
			if($("#isGlobalConfig").is(':checked')){
				$("#isUpdateGlobalConfigDiv").css("display", "");
			}else{
				$("#isUpdateGlobalConfig").attr("checked", false);
				$("#isUpdateGlobalConfigDiv").css("display", "none");
 				$("#period").attr("disabled", true);
				$("#period_error_span").css("display", "none");
				$("#mailTo").attr("disabled", true);
				$("#mailTo_error_span").css("display", "none");
				$("#mailCc").attr("disabled", true);
				$("#mailCc_error_span").css("display", "none");
			}
		});
		
		$("#isUpdateGlobalConfig").click(function(){
			if($("#isUpdateGlobalConfig").is(':checked')){
				$("#period").attr("disabled", false);
				$("#mailTo").attr("disabled", false);
				$("#mailCc").attr("disabled", false);
			}else{
 				$("#period").attr("disabled", true);
				$("#period_error_span").css("display", "none");
				$("#mailTo").attr("disabled", true);
				$("#mailTo_error_span").css("display", "none");
				$("#mailCc").attr("disabled", true);
				$("#mailCc_error_span").css("display", "none");
			}
		});
		
		
		allApp.controller.paramInit();
		
		 $("#newDiv").dialog({
		      autoOpen: false,
		      width:500,
		      height:400,
		      resizable:false,
		      modal: true,
		      position: "center",
	          buttons: [{
	                text: '保存',
	                iconCls: 'icon-ok',
	                handler: function () {
	                	allApp.controller.addGlobalConfig();
	                }
	            }, {
	                text: '取消',
	                iconCls: 'icon-cancel',
	                handler: function () {
	                    $('#newDiv').dialog('close');
	                }
	            }]
		    });
		 $("#newDiv").dialog('close');
	});
	
	
	function add(){
		 $("#newDiv").dialog('open');
	}
</script>
</body>
</html>
