					
					<table id="example1" class="table table_data table-striped">
						<thead>
							<tr>
								<th>序列号</th>
								<th>部门</th>
								<th>应用名</th>
								<th>IP:端口</th>
								<!--
								<th>容器</th>
								-->
								<th>分配</th>
								<th>已用/总数</th>
								<th>使用率</th>
								<th>归属机房</th>
								<th>启动时间</th>
								<th>包日期</th>
								<th>健康页</th>
								<th>状态</th>
							</tr>
						</thead>
						<tbody>
							#if($!page.totalResult > 0)
                        	#set($i = ($page.pageNo - 1) * $page.pageSize)
                        	#foreach($serverInfo in $!page.data)
                        		#set($i = $i + 1)
							<tr>
								<td>$!i</td>
								<td>$!serverInfo.ssz</td>
								<td><a href="${rc.contextPath}/system/getSystemApp?xmm=$!serverInfo.xmm" class="link_a">$!serverInfo.xmm</a></td>
								<td>$!serverInfo.ida</td>
								<!--
								<td>$!serverInfo.xmrq</td>
								-->
								<td>$!serverInfo.yyznc G</td>
								<td>$!serverInfo.yyncsy G/$!serverInfo.ncfpzs G</td>
								<td>$!serverInfo.yyncb%</td>
								<td>$!serverInfo.pcInfo.gsjf</td>
								<td>$!serverInfo.yyqdsj</td>
								<td>$!serverInfo.brq</td>
								<td>$!serverInfo.ymz</td>
								#if($!serverInfo.bjzt =='N')
									<td>正常</td>
								#else
									<td>$!serverInfo.bjzt</td>
								#end
							</tr>
							#end
                        #end
						</tbody>
					</table>
					#parse("common/pageHome.vm")
					
					 