<script type="text/javascript">
$(function () {
//正向单
	laydate({
	    elem: '#startTimeCo',
	    format: 'YYYY-MM-DD',
	    //min: laydate.now(), //设定最小日期为当前日期
	    //max: '2099-06-16 23:59:59', //最大日期
	    istime: true,
	    istoday: true,
	    choose: function(date){
	         //end.min = datas; //开始日选好后，重置结束日的最小日期
	         //end.start = datas //将结束日的初始值设定为开始日
	    	//alert("startTime:" + date);
	    }
	});
	initCo();
	initCoData();
});
function initCoData(){
	//开始时间
	var startDate = new Date();
 	var startTimeStr=startDate.Format('yyyy-MM-dd');
 	reloadCoData(startTimeStr);
}
var highChart_co;
var options_co;
var config_co={};
function initCo(){
	options_co = {
        chart: {
            type: 'bar',
            renderTo: 'highchart_Co'
        },
        title: {
            text: ''    //by wangxiaye  去掉标题
        },
        credits:{
            enabled:false
        },
        xAxis: {
            categories: [
                'G3PP返回状态不正确',
                '已发送SO至DRG',
                '已发送SO至POP',
                '待客服处理',
                '未发SO至DRG',
                '未发SO至POP'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y} 个</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '订单',
            data: []
        }]
	}
	copy(config_co,options_co);
}
function searchCoData(){
	var startTimeStr=$('#startTimeCo').val();
	if(startTimeStr==''){
		var startDate = new Date();
 		var startTimeStr=startDate.Format('yyyy-MM-dd');
		$('#startTimeCo').val(startTimeStr);
	}
 	reloadCoData(startTimeStr);
}
function reloadCoData(stCo){
	var url="${rc.contextPath}/monitoBusiness/getCoDataList.do";
	$.ajax({
		url: url,
		type:"POST",
		data:{'startTime':stCo},
		dataType:"text",
		cache:false,
		success: function(data){
			var dataList=eval(data);
			//总数
			var tal=dataList[0];
			$('#co_tal').text(tal);
			var wwww=[];
			for(var ttt=1;ttt<dataList.length;ttt++){
				wwww[ttt-1]=dataList[ttt];
			}
			copy(options_co,config_co);
			options_co.series[0].data=wwww;
			//highChart_co = new Highcharts.Chart(options_co);
			$("#co_id").html("");
			var dataHtml ="";
			for(var i=0;i<dataList.length;i++){
				var data = dataList[i];
				dataHtml +="<div class='progressType'><h3>"+data.name+"</h3><div class='progress MyProgress'>";
				if(data.isWarning){
					dataHtml +="<div class='progress-bar progress-bar-alarm' style='width: "+data.precent+"%'>";
				}else{
					dataHtml +="<div class='progress-bar progress-bar-normal' style='width: "+data.precent+"%'>";

				}
				dataHtml +="<span class='sr-only'>40 Complete (danger)</span></div></div>";
				if(data.isWarning){
					dataHtml +="<span class='progress-info alarm-info'>"+data.value+"单</span></div>";
				}else{
					dataHtml +="<span class='progress-info '>"+data.value+"单</span></div>";

				}
			}
			$("#co_id").html(dataHtml);
     	},
     	error : function(){
     	}
	});
}
</script>