<script type="text/javascript">

var waitNotPayRun;
var timeNotPayflg = false; //启动及关闭按钮  
function timeNotPayRun(){
	if(timeNotPayflg){return ;}
	addNotPayData();
	waitNotPayRun=setTimeout(timeNotPayRun,1000*60*5); //time是指本身,延时递归调用自己,100为间隔调用时间,单位毫秒
}
//等待时间----时间价格为intervalTime分钟
function waitTimeNotPay(){
	//获取结束时间
	var endTimeNow=new Date();
	var endTimeStr=endTimeNow.Format('yyyy/MM/dd HH:m5:s0');
	var wwww=new Date(endTimeStr);
	//下个触发查询时间--5分钟后
	wwww=wwww.DateAdd('n',5);
	//layer.msg(wwww.Format('yyyy-MM-dd HH:mm:ss'));
	//计算当前时间和下个查询时间的时间差
	var waitTime=wwww-new Date();
	//等待时间差
	setTimeout(function(){
		timeNotPayRun();
	},waitTime);
}


var notPayDate;
var notPayHighChart;
//默认每5分钟查询查询一次
var timeNotPayCon=false;
function initNotPayData(){
	var obj=getSearchHour(2);
    var startTimeStr=obj.startTime;
    var endTimeStr=obj.endTime;
    reloadNotPayData(startTimeStr,endTimeStr,false);
}
$(function () {
	initNotPay();
	initNotPayData();
	totalNotPayData();
});
function addNotPayData(){
	var url="${rc.contextPath}/monitoNotPay/getNotPayOrderForTime.do";
	var data='';
	$.ajax({ 
		url: url,
		type:"POST",
		data:{startTime:notPayDate},
		dataType:"text",
		cache:false,
		success: function(data){
			var obj=eval(data);
			notPayDate=obj[0][0];
			notPayHighChart.series[0].addPoint([obj[0][0], obj[0][1]], false, true);
			notPayHighChart.series[1].addPoint([obj[1][0], obj[1][1]], false, true);
			notPayHighChart.series[2].addPoint([obj[2][0], obj[2][1]], false, true);
			notPayHighChart.redraw();
     	},
     	error : function(){
     	}
	});
}
var options_notPay;
var config_notPay={};
function initNotPay(){
	Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
    ////colors: ["red","#00EC00","blue"],
	options_notPay = {
        chart: {
            type: 'line',
            renderTo: 'container_notPay',  //图表放置的容器，一般在html中放置一个DIV，获取DIV的id属性值
            animation: Highcharts.svg, // don't animate in old IE
            marginRight: 10, //对容器的右内边距
            shadow:false, //外框阴影
            animation:true,
            events: {
                load: function () {
                	waitTimeNotPay();
                }
            }
        },
        title: {
            text: '非充值订单'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 5,
            //gridLineWidth:1,
            dateTimeLabelFormats: {
                second: '%H:%M:%S'
            },
    		title: {
    			style: {
    				color: '#AAA',
    				font: 'bolder 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif'
                }
            }

        },
        yAxis: {
            title: {
	                     text: ''
	                 }
        },
        tooltip: {
            formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                    Highcharts.numberFormat(this.y, 0);
            },
            backgroundColor: {
    			linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
    			stops: [
    				[0, 'rgba(96, 96, 96, .8)'],
    				[1, 'rgba(16, 16, 16, .8)']
    			]
    		},
    		borderWidth: 0,
    		style: {
    			color: '#FFF'
    		}
        },
        credits:{ //右下角超链接设置
            enabled: false
        },
        legend: {//设置图例
            enabled:true,
            layout : 'horizontal',//显示形式，支持水平horizontal(默认)和垂直vertical
            align : 'center',// left/right/center/
            verticalAlign : 'bottom',//bottom  top
            itemStyle: {
    			color: '#666'
    		},
    		itemHoverStyle: {
    			color: 'blue'
    		},
    		itemHiddenStyle: {
    			color: '#333'
    		}
        },
        labels: {
    		style: {
    			color: '#CCC'
    		}
    	},
        exporting: {
            enabled: true
            
        },
        series:[{
        	name: '当前5分钟非充值订单',
        	data:[]
        },{
        	name: '昨天5分钟非充值订单',
        	data:[]
        },{
        	name: '7天前5分钟非充值订单',
        	data:[]
        }]
	}
	copy(config_notPay,options_notPay);
}

function searchNotPayData(){
	timeNotPayflg=true;
	//停止5分钟查询
	clearTimeout(waitNotPayRun);
	var startTimeStr=$('#startTimeNotPay').val();
	var endTimeStr=$('#endTimeNotPay').val();
	var urlStartTime = startTimeStr;
	var endTime = endTimeStr;
	if(urlStartTime==''&&endTime==''){
		var obj=getSearchHour(2);
		urlStartTime=obj.startTime;
        endTime=obj.endTime;
        var startTimeStr=obj.startTime;
        var endTimeStr=obj.endTime;
		$("#startTimeNotPay").val(startTimeStr);
		$("#endTimeNotPay").val(endTimeStr);
	}
	if(urlStartTime==''&&endTime!=''){
		layer.msg("请输入开始时间!");
		$("#startTimeNotPay").focus();
		return ;
	}
	if(urlStartTime!=''&&endTime==''){
		layer.msg("请输入结束时间!");
		$("#endTimeNotPay").focus();
		return ;
	}
	if(urlStartTime!=''&&endTime!=''){
		var start=new Date(urlStartTime.replace("-", "/").replace("-", "/"));   
	    var end=new Date(endTime.replace("-", "/").replace("-", "/"));  
	    if(end<start){  
	    	layer.msg("开始时间不能晚于结束时间!");
	    	$("#startTimeNotPay").focus();
			return ; 
	    }  
		
	}
	startTimeStr=startTimeStr.replace(/-/g,"/");
 	var oDate1 = new Date(startTimeStr);
 	startTimeStr=oDate1.Format('yyyy-MM-dd HH:m5:s0');
 	
 	endTimeStr=endTimeStr.replace(/-/g,"/");
 	var oDate2 = new Date(endTimeStr);
 	endTimeStr=oDate2.Format('yyyy-MM-dd HH:m5:s0');
 	reloadNotPayData(startTimeStr,endTimeStr,true);
}
function reloadNotPayData(st,et,waitTimeReload){
	var payUrl="${rc.contextPath}/monitoNotPay/findNotPayOrderList.do";
	$.ajax({
		url: payUrl,
		type:"POST",
		data:{'startTime':st,'endTime':et},
		dataType:"text",
		cache:false,
		success: function(data){
			var dataList=eval(data);
			if(dataList[0][dataList[0].length-1]!=null){
				notPayDate=dataList[0][dataList[0].length-1][0];
			}
			copy(options_notPay,config_notPay);
			options_notPay.series[0].data=dataList[0];
			options_notPay.series[1].data=dataList[1];
			options_notPay.series[2].data=dataList[2];
			if(waitTimeReload){
				options_notPay.chart.events.load=function(){};
			}
			notPayHighChart = new Highcharts.Chart(options_notPay);
     	},
     	error : function(){
     	}
	});
}
function totalNotPayData(){
	var startTime=new Date();
	var stNotPay=startTime.Format('yyyy-MM-dd');
	var payUrl="${rc.contextPath}/monitoNotPay/getNotPayOrderForCount.do";
	$.ajax({
		url: payUrl,
		type:"POST",
		data:{'startTime':stNotPay},
		dataType:"text",
		cache:false,
		success: function(data){
			var dataList=eval(data);
			var today=dataList[0][1];
			var yesterday=dataList[1][1];
			var weekDay=dataList[2][1];
			countDiffer(today,yesterday,weekDay,'NotPay');
     	},
     	error : function(){
     	}
	});
}


function Percentage(num, total) { 
    return (Math.round(num / total * 10000) / 100.00 + "%");// 小数点后两位百分比
}
</script>