<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>统一监控平台</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link href="${rc.contextPath}/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.3.0 -->
    <link href="${rc.contextPath}/libs/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->

    <!-- Theme style -->
    <link href="${rc.contextPath}/libs/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="${rc.contextPath}/libs/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="${rc.contextPath}/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="${rc.contextPath}/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="${rc.contextPath}/css/common-top.css" type="text/css" />
</head>
<body class="sidebar-mini skin-black-light">
<div class="wrapper">
    <!-- header start-->
    #parse("common/header.vm")
    <!-- header end-->
    
    <!-- Left side column. contains the logo and sidebar -->
    #parse("common/leftMenu.vm")
    <!-- Left side end -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
		#parse("common/flat-alarm.vm")
        <section class="content-header">
        	<a href="${rc.contextPath}/index">统一监控平台 </a><a href="${rc.contextPath}/monitoBusiness/gotoOrderHead">/ 订单一览</a>
        </section>

        <!-- Main content -->
        <section class="content">
				<div class="orderSummarySty">
		        	<div class="leftlayout">
		        		<div class="lefttopLayout">
		        			<h2 class="order-title">热销商品排行榜</h2>
		        			<table class="table hotsellTable">
		        				<tbody id="hotGood">
		        				</tbody>
		        			</table>
		        			<h2 class="order-title">品牌排行榜</h2>
		        			<div class="rankingList" id="GoodBrand">
								<img src="../image/top1.png" />
								<img class="top2_img" src="../image/top2.png" />
								<img src="../image/top3.png" />
							</div><!--rankingList end-->
		        		</div><!--lefttopLayout end-->
		        	</div><!--leftlayout end-->
		        	
		        	<div class="centerLayout">
		        		<div class="centertoplayout">
		        			 <h2 class="order-title">订单解析</h2>
		        			 <div class="order-panel1">
		        				<div class="order_txt_con">
									 <div class="orderProgressType">
									        <h3 class="ordertitle">WEB端</h3>   
										    <div class="progress MyProgress">
												  <div class="progress-bar progress-bar-normal" style="width: 80%">
												    <span class="sr-only">80 Complete (danger)</span>
												  </div>
			                                </div><!--progress end-->
			                                <span class="order-progress-info">85834</span> 
									 </div><!--orderProgressType end-->
									 <div class="orderProgressType">
									        <h3 class="ordertitle">APP端</h3>   
										    <div class="progress MyProgress">
												  <div class="progress-bar progress-bar-normal" style="width: 40%">
												    <span class="sr-only">40 Complete (danger)</span>
												  </div>
			                                </div><!--progress end-->
			                                <span class="order-progress-info">85834</span>
			                                 
									 </div><!--orderProgressType end-->
									 <div class="orderProgressType">
									        <h3 class="ordertitle">WAP端</h3>   
										    <div class="progress MyProgress">
												  <div class="progress-bar progress-bar-normal" style="width: 30%">
												    <span class="sr-only">30 Complete (danger)</span>
												  </div>
			                                </div><!--progress end-->
			                                <span class="order-progress-info">85834</span>
			                               
									 </div><!--orderProgressType end-->
								    <h2 class="orderNumber">订单量 : <strong>964782</strong></h2>
							    </div><!--order_txt_con-->
		        		    </div><!--order-panel1 end-->
							 <!--order-panel2-->
							 <div class="order-panel2">
								<ul>
									<li>
										<p class="order_numP">112796</p>
										<p>充值订单</p>
									</li>
									<li>
										<p class="order_numP">112796</p>
										<p>充值订单</p>
									</li>
								</ul>
							 </div><!--order-panel2 end-->
							 <div class="order-panel2" style="border-bottom:none;">
		        		 	<ul>
		        		 		<li>
			        		 		<p class="order_numP">112796</p>
			        		 		<p>充值订单</p>
		        		 		</li>
		        		 		<li>
			        		 		<p class="order_numP">112796</p>
			        		 		<p>充值订单</p>
		        		 		</li>
		        		 	</ul>
		        		 </div><!--order-panel2 end-->
		        	    </div><!--centertoplayout end-->
		            </div><!--centerLayout end-->
		            <!--rightLayout-->
		            <div class="rightlayout">
		        		<div class="righttoplayout">
						
		        		    <div class="rightPanel">
			        		    <h2 class="order-title">M5-PBS机房万兆裸纤</h2>
			        			<div id="container_headLoginInfo" style="height:300px;"></div>
		        		    </div>
		        			<div class="rightPanel">
			        		    <h2 class="order-title">5分钟订单</h2>
			        			<div id="container_headLoginInfo" style="height:300px;"></div>
		        		    </div>
		        		</div><!--righttoplayout end-->
						
		        </div><!--rightlayout-->
              </div><!-- /.orderSummarySty -->
              <div class="orderSummarySty">
              		<div class="centerbottomLayout">
	        			<div class="city_title">
		        			<h2 class="fl">城市销售榜</h2>
							<div class="fr data_warp city_data-warp">
									<input type="text" class="form-control laydate-icon fl" id="startTime_HotCity" value="" style="width:180px;">
									<span class="span-disinline fl">至</span>
									<input type="text" class="form-control lastInput fl laydate-icon" id="endTime_HotCity" style="width: 180px;">
									<a class="newbtn fl" onclick="searchHotCity()">
										<i class="fa fa-search">查找</i> 
									</a>
							</div>
	        			</div>
	        			
	        			<div id="city_sales" style="border-radius: 0px 0px 0px 3px;height:85%;width:70%;padding-left:20px;background-color:#FFF"></div>
	        			<div class="hottest">
	        				<h2>最热城市</h2>
	        				<div style="width: 159px;background: #f9f9f9;margin: 0px 90px;height: 212px;" id="hotCity">
	        				</div>
	        			</div>
	        		</div>


              </div>
            </section><!-- /.content -->
    <!-- Control Sidebar -->
      #parse("common/controlSidebar.vm")
    <!-- Control Sidebar end-->
    
</div><!-- ./wrapper -->


<!-- 按订单状态查询-->
#parse("business/orderHeadScript.vm")

<!--五分钟订单-->
#parse("business/moFiveOrderScript.vm")
<!-- jQuery 2.1.3 -->
<script src="${rc.contextPath}/js/jQuery/jQuery-2.1.3.min.js"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="${rc.contextPath}/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="${rc.contextPath}/libs/js/app.min.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/left_menu.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/portal/allPort.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/highcharts.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/plugins/echarts/echarts-all.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/business/Date.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/business/monito.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/plugins/laydate-v1.1/laydate/laydate.js"></script>
</body>
</html>
