    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
            	<li class="treeview active">
					<a href="#"> 
						<span>总览</span> 
						<i class="fa fa-angle-left pull-right"></i> 
					</a>
					<ul class="treeview-menu otherTreevieww">
						<li class="treeview" id="orderSummaryMenu"><a href="${rc.contextPath}/monitoBusiness/gotoOrderHead"> <span>订单一览</span> </a></li>
						<!--
						<li class="treeview"><a href="javascript:void(0);"> <span>应用一览(敬请期待)</span> </a></li>
						-->
						<li class="treeview" id="flowSummaryMenu"><a href="${rc.contextPath}/prtg/flowSummary"> <span>流量一览</span> </a></li>
						<li class="treeview" id="alarmMenu"><a href="${rc.contextPath}/alarm/list"><span>报警记录</span></a></li>
					</ul>
				 </li>
				
				<li class="treeview">
		              <a href="#">
		                <span>统一监控</span>
		                <i class="fa fa-angle-left pull-right"></i>
		              </a>
              	     <ul class="treeview-menu otherTreevieww">
			              
			              <li class="treeview" style="margin-bottom:0px;padding:0;" id="server">
				               <a href="#" style="color:#808182;background:#f4f4f5;font-weight:normal">
				                    <span>服务器监控</span>
				                    <i class="fa fa-angle-left pull-right"></i>
				               </a>
			                  <ul class="treeview-menu">
									<li class="nextChild" id="serverMenu">
										<a href="${rc.contextPath}/server/goToHostAll" class="no-hover"> 
											<span>基础信息监控</span>
										</a>
									</li>
									<li class="nextChild" id="serverAnalysis">
										<a href="${rc.contextPath}/serverAnalysis/queryHostAll" class="no-hover"> 
											<span>低利用率指标统计</span>
										</a>
									</li>
									<li class="nextChild" id="serverAnalysisNew">
										<a href="${rc.contextPath}/serverAnalysis/queryHostAllNew" class="no-hover"> 
											<span>高利用率指标统计(测试)</span>
										</a>
									</li>
									<li class="nextChild" id="serverAnalysisPro">
										<a href="${rc.contextPath}/serverAnalysis/queryHostAllPro" class="no-hover"> 
											<span>高利用率指标统计(生产)</span>
										</a>
									</li>
							  </ul>
		                  </li>
			              <li class="treeview" id="portMenu">
			                  <a href="${rc.contextPath}/portal/get">
			                    <span>端口存活监控</span>
			                  </a>
			              </li>
		                  
		                 <li class="treeview" id="systemMenu">
		                  <a href="${rc.contextPath}/system/get">
		                    <span>系统进程存活监控</span>
		                  </a>
		                 </li>
		                <li class="treeview" id="appMonitorMenu">
		                  <a href="${rc.contextPath}/app/index">
		                    <span>方法监控</span>
		                  </a>
		                </li>
		                <!--
		                <li class="treeview" id="applist">
		                    <a href="${rc.contextPath}/usr/applications/list">
		                        <span>监控应用列表</span>
		                    </a>
		                </li>
		                <li class="" id="businessLine">
		                    <a href="${rc.contextPath}/businessLine/list">
		                        <span>业务线</span>
		                    </a>
		                </li>
		                -->
		                <li class="treeview" id="urlMenu">
		                  <a href="${rc.contextPath}/url/get">
		                    <span>URL存活监控</span>
		                  </a>
		                </li>
		                <li class="treeview" id="networkMenu">
		                  <a href="${rc.contextPath}/prtg/index">
		                    <span>网络监控</span>
		                  </a>
		                </li>
		                <li class="" id="dbMenu">
		                  <a href="${rc.contextPath}/db/index">
		                    <span>数据库监控</span>
		                  </a>
		                </li>

              </ul>
            </li>
			<li class="treeview "  id="business">
                  <a href="${rc.contextPath}/monitoBusiness/gotoMonitoBusiness">
                    <span>业务监控</span>
					<i class="fa fa-angle-left pull-right"></i>
                  </a>
				  <ul class="treeview-menu otherTreevieww">
						<!--<li class="treeview" id="alarmBusinessMenu">
							<a href="${rc.contextPath}/alarm/businessList"> 
								<span>报警记录</span>
							</a>
						</li>-->
						<li class="treeview" id="dragonMenu">
							<a href="${rc.contextPath}/monitoDragon/get" > 
								<span>业务系统监控</span>
							</a>
						</li>
						<li class="treeview" id="businessMenu">
							<a href="${rc.contextPath}/monitoBusiness/gotoMonitoBusiness"> 
								<span>订单监控</span>
							</a>
						</li>
						<!--<li class="treeview" id="aspMenu">
							<a href="${rc.contextPath}/asp/index"> 
								<span>自动化购物测试</span>
							</a>
						</li>-->

				  </ul>
             </li>
		  </ul>
            <div class="left-bg"></div>
        </section>
        <!-- /.sidebar -->
        
    </aside>
    <script src="${rc.contextPath}/js/jQuery/jQuery-2.1.3.min.js"></script>
    <script type="text/javascript">
      var leftMenu = "$!leftMenu";
      if(leftMenu){
	  var menu = leftMenu.split(".");
	  if(menu.length==1){
       $("#"+leftMenu).parent().parent().addClass("active").siblings().removeClass("active");
       //console.log($("#"+leftMenu).parent().parent());
       $("#"+leftMenu).addClass("currentli").siblings().removeClass("currentli");

	   }else{
	   $("#"+menu[0]).addClass("active");
       $("#"+menu[0]).parent().parent().addClass("active").siblings().removeClass("active");
	   	$("#"+menu[1]+" a").css({"color":"#fff","background":"#9c8ade"});
	   }

      }
      
      $(".nextChild").hover(function(){
         $(this).css({"color":"#fff","background":"#9c8ade"});
       },function(){
       	$(this).css({"color":"#999","background":"#fff"});
       });
	</script>