    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
            	<li class="treeview active">
					<a href="#"> 
						<span>总览</span> 
						<i class="fa fa-angle-left pull-right"></i> 
					</a>
					<ul class="treeview-menu">
						<li class="treeview" id="orderSummaryMenu"><a href="${rc.contextPath}/monitoBusiness/gotoOrderHead"> <span>订单一览</span> </a></li>
						<!--
						<li class="treeview"><a href="javascript:void(0);"> <span>应用一览(敬请期待)</span> </a></li>
						-->
						<li class="treeview" id="flowSummaryMenu"><a href="${rc.contextPath}/prtg/flowSummary"> <span>流量一览</span> </a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#"> 
						<span>统一监控</span> 
						<i class="fa fa-angle-left pull-right"></i> 
					</a>
					<ul class="treeview-menu">
						<li class="treeview" id="serverMenu">
							<a href="${rc.contextPath}/server/goToHostAll"> 
								<span>服务器监控</span>
							</a>
						</li>
						<li class="treeview" id="portMenu">
							<a href="${rc.contextPath}/portal/get">
								<span>端口存活监控</span> 
							</a>
						</li>
						<li class="treeview" id="systemMenu">
    						<a href="${rc.contextPath}/system/get">
        						<span>系统进程存活监控</span>
    						</a>
						</li>
						<li class="treeview" id="appMonitorMenu">
							<a href="${rc.contextPath}/app/index"> 
								<span>方法监控</span>
							</a>
						</li>
						<!--
						<li class="treeview" id="applist">
		                    <a href="${rc.contextPath}/usr/applications/list">
		                        <span>监控应用列表</span>
		                    </a>
				        </li>
				        <li class="treeview" id="businessLine">
		                    <a href="${rc.contextPath}/businessLine/list">
		                        <span>业务线</span>
		                    </a>
				        </li>
				        -->
						<li class="treeview" id="urlMenu">
							<a href="${rc.contextPath}/url/get">
								<span>URL存活监控</span> 
							</a>
						</li>
						<li class="treeview" id="networkMenu">
							<a href="${rc.contextPath}/prtg/index"> 
								<span>网络监控</span>
							</a>
						</li>
						<li class="treeview" id="dbMenu">
							<a href="${rc.contextPath}/db/index"> 
								<span>数据库连接与表空间监控</span>
							</a>
						</li>
						<li class="treeview" id="businessMenu">
							<a href="${rc.contextPath}/monitoBusiness/gotoMonitoBusiness"> 
								<span>业务监控</span>
							</a>
						</li>
						<li class="treeview" id="alarmMenu">
							<a href="${rc.contextPath}/alarm/list"> 
								<span>报警记录</span>
							</a>
						</li>
					</ul>
				</li>
            </ul>
        </section>
        <!-- /.sidebar -->
        <div class="left-bg"></div>
    </aside>
    <script src="${rc.contextPath}/js/jQuery/jQuery-2.1.3.min.js"></script>
    <script type="text/javascript">
      var leftMenu = "$!leftMenu";
      //console.info(leftMenu);
      if(leftMenu){
       $("#"+leftMenu).parent().parent().addClass("active").siblings().removeClass("active");
       $("#"+leftMenu).addClass("currentli").siblings().removeClass("currentli");
      }
	</script>