<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UMP</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link href="${rc.contextPath}/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.3.0 -->
    <link href="${rc.contextPath}/libs/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->

    <!-- Theme style -->
    <link href="${rc.contextPath}/libs/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="${rc.contextPath}/libs/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="${rc.contextPath}/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="${rc.contextPath}/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="${rc.contextPath}/css/my.css" type="text/css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="${rc.contextPath}/libs/js/html5shiv.js" type="text/javascript"></script>
    <script src="${rc.contextPath}/libs/js/respond.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="skin-green-light sidebar-mini">
<div class="wrapper">

    <!-- header start-->
    #parse("common/header.vm")
    <!-- header end-->

    <!-- Left side column. contains the logo and sidebar -->
    #parse("common/leftMenu.vm")
    <!-- Left side end -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="#">统一监控平台</a></li>
                <li class=""><a href="${rc.contextPath}/portal/get">端口存活监控</a></li>
                <li class="active">创建端口存活监控配置点key</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box" style="margin-top:20px;">
                <div class="box-header applicationEditHeader">
                    <ul>
                        <li class="currentCls"><span class="styleUl current">1</span> 监控点Key</li>
                        <li><span class="styleUl">2</span> 监控参数</li>
                        <li><span class="styleUl">3</span> 报警方式</li>
                    </ul>
                </div>
                <div class="list_table" style="padding: 0 10px;">
                    <h2 class="list_table_title">1.创建端口存活监控配置点key</h2>
                    <table id="example1" class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="build_title"><strong class="null_red">*</strong>监控点KEY</td>
                                <td class="build_forminput">
                                <input type="text" class="form-control" id="portalKey" value="$!key" placeholder="ump.web.firstPage"/>
                                <span class="info_span ele_hide" id="error_span">提示：请输入监控点KEY</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="build_title">KEY描述</td>
                                <td class="build_forminput"><input type="text" class="form-control" id="portalKeydec"  value="$!desc" placeholder="统一监控平台web前端首页"/></td>
                            </tr>
                            <tr>
                            	<td class="build_title">所属应用</td>
                            	<td class="build_forminput"><input type="text" class="form-control" id="portalApp" value="$!app" placeholder="所属应用"/></td>
                        	</tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix applicationEditHeader">
                    <ul class="paging">
                        <li><a class="btn btn-primary btn-sm disabled" id="precious_step">上一步</a></li>
                        <li>
                        <a class="btn btn-primary btn-sm" id="step1-next" href="javascript:void(0)">下一步</a>
                        </li>
                        <li><a class="btn btn-primary btn-sm" href="${rc.contextPath}/portal/get">取消</a></li>
                    </ul>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- footer start -->
      #parse("common/footer.vm")
    <!-- footer end -->


    <!-- Control Sidebar -->
      #parse("common/controlSidebar.vm")
    <!-- Control Sidebar end-->

</div><!-- ./wrapper -->

<!-- jQuery 2.1.3 -->
<script src="${rc.contextPath}/js/jQuery/jQuery-2.1.3.min.js"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="${rc.contextPath}/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="${rc.contextPath}/libs/js/app.min.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/left_menu.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/portal/createStep1.js" type="text/javascript"></script>
</body>
</html>
