<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>统一监控平台</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link href="${rc.contextPath}/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.3.0 -->
    <link href="${rc.contextPath}/libs/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->

    <!-- Theme style -->
    <link href="${rc.contextPath}/libs/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="${rc.contextPath}/libs/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="${rc.contextPath}/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="${rc.contextPath}/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="${rc.contextPath}/css/common-top.css" type="text/css" />
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="${rc.contextPath}/libs/js/html5shiv.js" type="text/javascript"></script>
    <script src="${rc.contextPath}/libs/js/respond.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body class="sidebar-mini skin-black-light">
<div class="wrapper">

    <!-- header start-->
    #parse("common/header.vm")
    <!-- header end-->

    <!-- Left side column. contains the logo and sidebar -->
    #parse("common/leftMenu.vm")
    <!-- Left side end -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <a href="${rc.contextPath}/index">统一监控平台 </a><a href="${rc.contextPath}/prtg/index">/ 网络监控</a>
        </section>

        <!-- Main content -->
        <section class="content">
        	<div class="health_index_facility">
       			<h2>设备信息</h2>
       			<span class="health_num">健康指数：<span style="color:#9c8ade;" id="healthyDeviceIndex">0</span></span>
       			<div style="width: 320px;height: 250px;margin: auto;" id="network_health_index"></div>
				<div class="health_status_count_server">
	        		<span>错误：<a href="${rc.contextPath}/prtg/device/error" id="errorDeviceCount">0</a></span>
	        		<span style="margin-left: 30px;">全部：<a href="${rc.contextPath}/prtg/device/all" id="totalDeviceCount">0</a></span>
	        	</div>
       		</div>
       		<div class="health_index_facility">
       			<h2>端口信息</h2>
       			<span class="health_num">健康指数：<span style="color:#9c8ade;" id="healthySensorIndex">0</span></span>
       			<div style="width: 320px;height: 250px;margin: auto;" id="port_health_index"></div>
				<div class="health_status_count_server">
					<span >全部：<a href="${rc.contextPath}/prtg/port/all?portStatus=all" id="totalSensorCount">0</a></span>
	        		<span style="margin-left: 30px;">错误：<a href="${rc.contextPath}/prtg/port/all?portStatus=error" id="errorSensorCount">0</a></span>
	        		<span style="margin-left: 30px;">报警：<a href="${rc.contextPath}/prtg/port/error" id="alarmPortCount">0</a></span>
	        	</div>
       		</div>

			<div class="pie_item_service">
                <p id="cpu_use"></p>
                <p id="memory_use"></p>
                <p id="port_flow"></p>
            </div>            
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    <!-- footer start -->
      #parse("common/footer.vm")
    <!-- footer end -->
</div><!-- ./wrapper -->

<!-- jQuery 2.1.3 -->
<script src="${rc.contextPath}/js/jQuery/jQuery-2.1.3.min.js"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="${rc.contextPath}/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="${rc.contextPath}/libs/js/app.min.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/left_menu.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/highcharts.js" type="text/javascript"></script>
<script src="${rc.contextPath}/js/prtg/networkMonitor.js" type="text/javascript"></script>

</body>
</html>
