    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
				<li class="treeview">
					<a href="#"> 
						<span>统一监控</span> 
						<i class="fa fa-angle-left pull-right"></i> 
					</a>
					<ul class="treeview-menu">
						<li class="treeview" id="alarmMenu">
							<a href="${rc.contextPath}/alarm/list"> 
								<span>报警记录</span>
							</a>
						</li>
					</ul>
				</li>
            </ul>
            <div class="left-bg"></div>
        </section>
        <!-- /.sidebar -->
        
    </aside>
    <script src="${rc.contextPath}/js/jQuery/jQuery-2.1.3.min.js"></script>
    <script type="text/javascript">
      var leftMenu = "$!leftMenu";
      //console.info(leftMenu);
      if(leftMenu){
       $("#"+leftMenu).parent().parent().addClass("active").siblings().removeClass("active");
       $("#"+leftMenu).addClass("currentli").siblings().removeClass("currentli");
      }
	</script>