<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gome.upm.dao.ServerMonitorMapper">
	<resultMap id="BaseResultMap" type="com.gome.upm.domain.ServerHost">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="hostid" property="hostid" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="itemid" property="itemid" jdbcType="VARCHAR" />
		<result column="key_" property="key_" jdbcType="VARCHAR" />
	</resultMap>

	<select id="queryHostsList" resultType="com.gome.upm.domain.ServerHost" parameterType="com.gome.upm.domain.ServerHost">
		SELECT a.`hostid`,a.`name`,d.name as groupName,b.`itemid`,b.`key_` ,a.`available`
		FROM `hosts` a ,items b,hosts_groups c ,groups d
		WHERE a.`hostid` = b.`hostid`
		AND a.`hostid` = c.hostid
		AND c.`groupid` = d.`groupid`
		<if test="key_ != null and key_ != ''">
			AND b.`key_` like CONCAT('%',#{key_,jdbcType=VARCHAR},'%')
		</if>
		<if test="key1_ != null and key1_ != ''">
			AND b.`key_` like CONCAT('%',#{key1_,jdbcType=VARCHAR},'%')
		</if>
		AND a.`status` = #{status,jdbcType=VARCHAR}
	</select>
	<select id="queryItemValue" resultType="com.gome.upm.domain.ServerHost" parameterType="com.gome.upm.domain.ServerHost">
		SELECT value,clock FROM history b 
		WHERE b.`itemid` = #{itemid,jdbcType=BIGINT} 
		<if test="time_from != null and time_from != 0">
			<![CDATA[ AND b.clock > #{time_from,jdbcType=BIGINT}]]>
		</if>
		<if test="time_till != null and time_till != 0">
			 <![CDATA[AND b.clock < #{time_till,jdbcType=BIGINT}]]>
		</if>
		limit 1
	</select>
	<select id="queryItemPingValue" resultType="com.gome.upm.domain.ServerHost" parameterType="com.gome.upm.domain.ServerHost">
		SELECT value,clock FROM history_uint b 
		WHERE b.`itemid` = #{itemid,jdbcType=BIGINT} 
		<if test="time_from != null and time_from != 0">
			<![CDATA[ AND b.clock > #{time_from,jdbcType=BIGINT}]]>
		</if>
		<if test="time_till != null and time_till != 0">
			 <![CDATA[AND b.clock < #{time_till,jdbcType=BIGINT}]]>
		</if>
		limit 1
	</select>


	<!-- 查询host -->
	<select id="queryHostsBase" resultType="com.gome.upm.domain.ServerHost" parameterType="com.gome.upm.domain.ServerHost">
		SELECT hostid,name,groupName,statusFlag 
		FROM gm_host_base
		<if test="hostid != null and hostid != ''">
			where hostid = #{hostid,jdbcType=BIGINT}
		</if>
	</select>
	<!-- 查询items -->
	<select id="queryItemsBase" resultType="com.gome.upm.domain.ServerHost" parameterType="com.gome.upm.domain.ServerHost">
		SELECT itemid,hostid,key_,clock,`value`
		FROM gm_item_base
		WHERE 1 = 1
		<if test="itemid != null and itemid != ''">
			and itemid = #{itemid,jdbcType=BIGINT}
		</if>
		<if test="hostid != null and hostid != ''">
			and hostid = #{hostid,jdbcType=BIGINT}
		</if>
		<if test="key_ != null and key_ != ''">
			and key_ = #{key_,jdbcType=VARCHAR}
		</if>
	</select>
	<insert id="addHostsBase" parameterType="com.gome.upm.domain.ServerHost"
		useGeneratedKeys="true" keyProperty="id">
		insert into gm_host_base (hostid,name,groupName,statusFlag)
		values (#{hostid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{groupName,jdbcType=VARCHAR}, #{available,jdbcType=VARCHAR})
	</insert>
	<insert id="addItemsBase" parameterType="com.gome.upm.domain.ServerHost"
		useGeneratedKeys="true" keyProperty="id">
		insert into gm_item_base (hostid,itemid,key_,clock,value)
		values (#{hostid,jdbcType=BIGINT}, #{itemid,jdbcType=BIGINT},
		#{key_,jdbcType=VARCHAR}, #{clock,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR})
	</insert>

	<update id="updateHostsBase" parameterType="com.gome.upm.domain.ServerHost">
		update gm_host_base set
		<if test="hostid != null">
			hostid = #{hostid,jdbcType=BIGINT}
		</if>
		<if test="name != null">
			, name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="groupName != null">
			, groupName = #{groupName,jdbcType=VARCHAR}
		</if>
		<if test="available != null">
			, statusFlag = #{available,jdbcType=VARCHAR}
		</if>
		where hostid = #{hostid,jdbcType=BIGINT}
	</update>
	<update id="updateItemsBase" parameterType="com.gome.upm.domain.ServerHost">
		update gm_item_base set
		<if test="itemid != null">
			itemid = #{itemid,jdbcType=BIGINT}
		</if>
		<if test="clock != null">
			, clock = #{clock,jdbcType=VARCHAR}
		</if>
		<if test="value != null">
			, value = #{value,jdbcType=VARCHAR}
		</if>
		where itemid = #{itemid,jdbcType=BIGINT}
	</update>
	
	<!-- 查询host -->
	<select id="queryHostName" resultType="java.lang.String"
		parameterType="com.gome.upm.domain.ServerHost">
		SELECT hostname FROM gm_host where 1=1
		<if test="groupName != null and groupName != ''">
			AND groupName = #{groupName,jdbcType=VARCHAR}
		</if>
		<if test="status != null  and status != ''">
			AND statusFlag = #{status,jdbcType=VARCHAR}
		</if>
	</select>
	<!-- 查询groupName -->
	<select id="queryHostGroup" resultType="java.lang.String"
		parameterType="com.gome.upm.domain.ServerHost">
		SELECT groupName FROM gm_host
		<if test="status != null  and status != ''">
			WHERE statusFlag = #{status,jdbcType=VARCHAR}
		</if>
		GROUP BY groupName ORDER BY groupName
	</select>

	<!-- 查询host -->
	<select id="queryHostNameNew" resultType="java.lang.String"
		parameterType="com.gome.upm.domain.ServerHost">
		SELECT HOST FROM gm_server_alarm_record
		<if test="status != null  and status != ''">
			where status = #{status,jdbcType=VARCHAR}
		</if>
		<if test="groupName != null and groupName != ''">
			and groupName = #{groupName,jdbcType=VARCHAR}
		</if>
		GROUP BY HOST
	</select>
	<!-- 查询groupName -->
	<select id="queryHostGroupNew" resultType="java.lang.String"
		parameterType="com.gome.upm.domain.ServerHost">
		SELECT groupName FROM gm_server_alarm_record
		<if test="status != null  and status != ''">
			WHERE status = #{status,jdbcType=VARCHAR}
		</if>
		GROUP BY groupName ORDER BY groupName
	</select>



	<resultMap id="BaseResultMapAlarm" type="com.gome.upm.domain.ServerAlarmRecord">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="groupName" property="groupName" jdbcType="VARCHAR" />
		<result column="host" property="host" jdbcType="VARCHAR" />
		<result column="alarmTime" property="alarmTime" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="alarmValue" property="alarmValue" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="updateAlarmTime" property="updateAlarmTime"
			jdbcType="VARCHAR" />
		<result column="key_" property="key_" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 查询报警记录 -->
	<select id="queryAlarmRecord" resultMap="BaseResultMapAlarm"
		parameterType="com.gome.upm.domain.ServerAlarmRecord">
		SELECT
		id,groupName,host,alarmTime,content,status,alarmValue,type,updateAlarmTime,key_
		FROM gm_server_alarm_record
		where 1=1
		<if test="host != null and host != ''">
			and host = #{host,jdbcType=VARCHAR}
		</if>
		<if test="key_ != null and key_ != ''">
			and key_ = #{key_,jdbcType=VARCHAR}
		</if>
		<if test="status != null and status != ''">
			and status = #{status,jdbcType=VARCHAR}
		</if>
		<if test="type != null and type != ''">
			and type = #{type,jdbcType=VARCHAR}
		</if>
	</select>
	<insert id="addAlarmRecord" parameterType="com.gome.upm.domain.ServerAlarmRecord"
		useGeneratedKeys="true" keyProperty="id">
		insert into gm_server_alarm_record
		(groupName,host,alarmTime,content,status,alarmValue,type,key_,alarm_level)
		values (#{groupName,jdbcType=VARCHAR}, #{host,jdbcType=VARCHAR},
		#{alarmTime,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
		#{alarmValue,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{key_,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR})
	</insert>
	<update id="updateAlarmRecord" parameterType="com.gome.upm.domain.ServerAlarmRecord">
		update gm_server_alarm_record set
		<if test="host != null and host != ''">
			host = #{host,jdbcType=BIGINT}
		</if>
		<if test="status != null and status != ''">
			,status = #{status,jdbcType=BIGINT}
		</if>
		<if test="updateAlarmTime != null and updateAlarmTime != ''">
			, updateAlarmTime = #{updateAlarmTime,jdbcType=VARCHAR}
		</if>
		<if test="content != null and content != ''">
			, content = #{content,jdbcType=VARCHAR}
		</if>
		<if test="alarmValue != null and alarmValue != ''">
			, alarmValue = #{alarmValue,jdbcType=VARCHAR}
		</if>
		where host = #{host,jdbcType=VARCHAR}
		<if test="key_ != null and key_ != ''">
			and key_ = #{key_,jdbcType=VARCHAR}
		</if>
		<if test="type != null and type != ''">
			and type = #{type,jdbcType=VARCHAR}
		</if>
	</update>


	<select id="selectAlarmRecordListByPage" resultType="com.gome.upm.domain.ServerAlarmRecord"
		parameterType="com.gome.upm.common.Page">
		select
		id,groupName,host,alarmTime,content,status,alarmValue,type,updateAlarmTime,key_
		from gm_server_alarm_record
		where 1=1
		<if test="conditions.id != null">
			and id = #{conditions.id,jdbcType=BIGINT}
		</if>
		<if test="conditions.groupName != null and conditions.groupName != ''">
			and groupName = #{conditions.groupName,jdbcType=VARCHAR}
		</if>
		<if test="conditions.host != null and conditions.host != ''">
			and host = #{conditions.host,jdbcType=VARCHAR}
		</if>
		<if
			test="conditions.startTime != null and conditions.startTime != '' and conditions.endTime != null and conditions.endTime != ''">
			and alarmTime between #{conditions.startTime} and
			#{conditions.endTime}
		</if>
		<if test="conditions.content != null and conditions.content != ''">
			and content like
			CONCAT('%',#{conditions.content,jdbcType=VARCHAR},'%')
		</if>
		<if test="conditions.status != null and conditions.status != ''">
			and status = #{conditions.status,jdbcType=VARCHAR}
		</if>
		<if test="conditions.type != null and conditions.type != ''">
			and type = #{conditions.type,jdbcType=VARCHAR}
		</if>
		order by alarmTime desc
		<if test="start != null and pageSize != null">
			LIMIT #{start},#{pageSize}
		</if>
	</select>
	<select id="selectTotalResultByConditionsA" resultType="java.lang.Integer"
		parameterType="com.gome.upm.domain.ServerAlarmRecord">
		select count(1) from gm_server_alarm_record
		where 1=1
		<if test="id != null">
			and id = #{id,jdbcType=BIGINT}
		</if>
		<if test="groupName != null and groupName != ''">
			and groupName = #{groupName,jdbcType=VARCHAR}
		</if>
		<if test="host != null and host != ''">
			and host = #{host,jdbcType=VARCHAR}
		</if>
		<if
			test="startTime != null and startTime != '' and endTime != null and endTime != ''">
			and alarmTime between #{startTime} and #{endTime}
		</if>
		<if test="content != null and content != ''">
			and content like CONCAT('%',#{content,jdbcType=VARCHAR},'%')
		</if>
		<if test="status != null and status != ''">
			and status = #{status,jdbcType=VARCHAR}
		</if>
		<if test="type != null and type != ''">
			and type = #{type,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="queryItemInvalidTotal" resultType="java.lang.Integer"
		parameterType="com.gome.upm.domain.ServerHost">
		select count(1) from gm_server_alarm_record
		<if test="status != null and status != ''">
			where status = #{status,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="queryServerTotal" resultType="java.lang.Integer"
		parameterType="com.gome.upm.domain.ServerHost">
		select count(1) from gm_host
		<if test="status != null and status != ''">
			where statusFlag = #{status,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>